
/* card */


.card figure img {
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.card{
  
}
 .card p{
  height: 95px;
  overflow: ellipsis;
}












/* button  */


html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 30vw;
    min-height: 5vw;
    font-family: 'Nunito', sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    color: #3ABFF8;
    background: #000000;
  background: linear-gradient(90deg, #F0E5C1 0%, #000000 100%);
    border: none;
    /* border-radius: 1000px; */
    box-shadow: 12px 12px 24px #3ABFF8;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    /* border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #000000;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    /* width: 30px; height: 30px; */
    border-radius: 100%;
    border: 6px solid #180344;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
      /* border: #F0E5C1; */
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
      /* border: #000000; */
    }
  }









  /* spinner */

  /* (A) FULL SCREEN WRAPPER */
.spinner {
  position: fixed;
  top: 0; left: 0; z-index: 9999;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}
 
/* (B) CENTER LOADING SPINNER */
/* #spinner img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%);
} */
 
/* (C) SHOW & HIDE */
.spinner {
  visibility: hidden;
  opacity: 0;
}
.spinner.show {
  visibility: visible;
  opacity: 1;
}










/* form  */

.second_header_title{
  color: red;
  font-family: fantasy;
  font-size: 5vw;
  text-align: center;
}
.middle_subtitle{
  text-overflow: clip;
  font-size: 1.8vw;
  color: orange;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
form{
    color: rgb(59, 59, 78);
    font-size: larger;
    font-size: 1.5vw;

    
}
.form{
    align-items: center;
    position: center;
    text-align: center;
    

}

.form_shadow{
    
  box-shadow: 10px 10px 10px gray;

  margin: 20px;
  padding: 20px;
  border-top: 5px solid orangered;
}
.second_banner{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  width:auto;
  background-position: right;
}
