body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
#red_color{
    color: red;
    font-family: fantasy;
    font-weight: bolder;
    font-size: larger;
}
.header{
    background-image: url(image/donation8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: fit-content;
    display: flow-root;
    text-align: center;
    resize: vertical;
    flex-wrap: wrap;
    
}


.header_title{
    font-size: 8vw;
    text-align: center;
    color: rgb(255, 255, 255);

}

.header_subtitle{
    text-overflow: clip;
    font-size: 1.8vw;
    color: rgb(255, 194, 108);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.first_button{
    text-decoration: none;
    place-content: center;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(orangered, orange);
}


.second_part{
    text-align: center;
}
.second_header_title{
    color: red;
    font-family: fantasy;
    font-size: 3em;
    text-align: center;
}
.middle_subtitle{
    text-overflow: clip;
    font-size: 1.8vw;
    color: orange;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}