
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* make class app position fixed but the childs are not fixed */
.App{
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
/* make class app position fixed but the child App-header not fixed */
.App-header{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  min-height: 100vh;
  
  /* background-color: #282c34; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

