nav li{
list-style: none    ;
margin: 0 10px;
font-size: larger;

}

nav li:hover{
    background-color: lightgray;
    padding: 10px;
}
nav li a{
    text-decoration: none;
}
ul nav   {
    display: flex;

}