.hideMe {
    /* hide after a while*/
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        /* keep scrolling above and hide the element */

        overflow:hidden;

    }
}
.wrong{
    background-color: rgb(56, 5, 5);
    color: white;
}
.correct{
    background-color: rgb(4, 48, 4);
    disabled: true;
    color: white;
}