.ratings{
    position: fixed;
    bottom: 0; 
    left: 50;
    /* display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column; */
    
	height: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
  padding: 10px;
}
.ratingsBtn {
    margin: 20px;
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 600;
	font-size: 100px;
	text-align: center;
	color: #202125;
  cursor: pointer;
  max-width: 600px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.ratingsBtn:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

