.cart-container{
    /* background-color: rgb(216, 186, 122); */
    border: 1px dotted rgb(53, 42, 42);
    border-radius: 3px;
    padding: 20px;
    height: 100%;
    /* width: 20vw; */
    /* position: fixed; */
    /* right: 0;
    top: 80px; */
}