body {
    font-family: 'Arima', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    position: absolute;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link_button{
    text-decoration: none;
    background-color: greenyellow;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(green, greenyellow);
}
.top_banner{
    background-image: url(loki/up1.jpg);
    background-repeat: no-repeat;
    width:auto;
}
.second_banner{
    background-image: url(loki/dream-bg.png);
    background-repeat: no-repeat;
    width:auto;
    background-position: right;
}
.last_banner{
    background-image: url(loki/exp-bg.png);
    background-repeat: no-repeat;
    width:auto;
    background-position: left;
}
.second_button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(orangered, orange);
}
.shadow{
    box-shadow: 10px 10px 10px gray;
    width: 45%;
    margin: 3%;
    padding: 3%;
    border-top: 5px solid orangered;
}
