@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');

body{
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
    background-color: #f5f5f5;
}
header{
    background-color: hsl(241, 52%, 25%);
    padding: 20px;
    text-align: center;
    display: flex;
    
    border-radius: 5vw;
}
.left_header{
    width: 55%;
    text-align: left;
    color: aliceblue;
    padding: 1.5vw 3vw;
    
}
.head_title{
    font-size: 6vw;
    color: aliceblue;
    font-weight: bold;
}
.head_sub{
    font-size: 2.5vw;
    color: aliceblue;
    font-weight: lighter;
    text-align: justify;
}
/* .head_button{
    width: 40%;
    text-align: right;
    color: aliceblue;
    font-size: 3vw;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: brown;
    border-radius: 5vw;
    padding: 2vw;
    margin: 10px;


} */


.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8vw;
  display: flex;
    justify-content: space-around;
    background-color: brown;
    border-radius: 3vw;
    text-align: center;
    margin: 5px 0px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}



.right_header{
    width: 55%;
    text-align: right;
    color: aliceblue;
}
.right_header img {
    width: 100%;
}


  


/* main */

main{
    display: flex;
    height: fit-content;
    padding: auto;
    margin: 15px;
}
.left_main{
  background-color: #18181a;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 1vw;
    margin: 10px;
    height: fit-content;

}
.left_main a{
    width: max-content;
    height: fit-content;
} 
.right_main{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match{
    width: 70%;
    height: fit-content;
    margin: 25px 3vw;
    border: lightgray solid 1px;
    padding: 20px;
    border-radius: 1vw;
    font-size: 2.5vw;
}
.match img{
    width: 100%;
    border-radius: .5em;
}
.match button{
    width: 80%;
    height: fit-content;
    background-color: hsl(241, 44%, 48%)e;
    border: 20px dashed rgb(97, 31, 141);
    border-radius: 1vw;
    color: rgb(155, 155, 155);
    font-size: 1.5vw;
    padding: 1vw;
    margin: 1vw;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.match button:hover{
    background-color: hsl(241, 52%, 25%);
    
}
.match button:active{
    background-color: hsl(241, 52%, 25%);
    
}
.match:hover{
    border: hsl(241, 52%, 25%) solid 1px;
}
.mini_button{
    font-size: 1.5vw;
    font-weight: lighter;
    color: rgb(68, 72, 77);
    margin: 0;
    text-align: justify;
    display: flex;
    justify-content: space-between;
}


/* footer */

footer{
    margin: none;
    background-color: #18181a;
    color: aliceblue;
    text-align: center;

}
hr{
    border: 1px solid rgb(68, 72, 77);
    margin: 0px;
}
footer nav a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px 25px;
}
footer > a{
    margin: 0px 4vw;
    text-decoration: none;
}
footer > a:hover{
    color: aliceblue;
}
footer p{
    margin: 0px;
    font-size: 2vw;
}
footer h1{
    margin: 15px;
}
@media screen and (max-width: 499px) {
    header{
        display: block;
    }
    .left_header{
        width: 100%;
        text-align: center;
    }
    
    .right_header img{
        width: 70%;
    }
    .right_header{
        width: 100%;
        text-align: center;
    }
    .head_title{
        font-size: 8vw;
    }
    .head_sub{
        font-size: 2vw;
    }
    .button-57{
        width: 80%;
        
    margin: 5px 0px
    }
    .left_main{
        width: 80%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .right_main{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        
        justify-content: center;
    }
    footer nav a{
        display: flex;
        justify-content: center;
        margin: 15px;

    }
    
}
@media screen and (min-width: 500px) and (max-width: 799px) {
    
    .button-57{
        width: 25%;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .left_header a {
        width: 100%;
    }
    .left_main{
        display: flex;
        width: 95%;
        justify-content: center;
    }
    main{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .right_main{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    
}

