name: Sync Upstream


# This runs every day on 1801 UTC
on:
  schedule:
    - cron: '0 6 * * *'
  # Allows manual workflow run (must in default branch to work)
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Sync to Upstream Repository
        uses: dabreadman/sync-upstream-repo@v1.3.0
        with: 
          upstream_repo: https://github.com/hasanshahriar32/project
          upstream_branch: main
          downstream_branch: master
          token: ${{ secrets.WORKFLOW_TOKEN }}

    
    
